fastapi
uvicorn
pydantic
ultralytics
opencv-python-headless
numpy
python-multipart
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.5.1+cpu 
torchvision==0.20.1+cpu
torchaudio==2.5.1+cpu